<form action="/" method="post">
    <label for="fileToUpload">Picture To Upload</label>
    <input type="file" name="fileToUpload" id="fileToUpload">
    <button class="btn btn-info btn-block my-4" type="submit">Upload</button>
</form>