<script>
    
    function hack(a){
        if(a==1){
        document.getElementById("div1").style.zIndex=3;
        } 
        else if(a==2){    
        document.getElementById("div1").style.zIndex=1;
        }
    
    }   
</script>
<br>
<form>
<div class="form-group row" >
    <div class="col-sm-10" id="div1" style="z-index = 1">
    <input type="text" class="form-control"  placeholder="Formal or Casual" name="nickname">
    </div>
    <div class="col-sm-10" id="div2" style="z-index = 2">
    <input type="text" class="form-control"  placeholder="Colour or Non-Colour" name="nickname">
    </div>
    <div class="col-sm-10" id="div3" style="z-index = 3">
    <input type="text" class="form-control" placeholder="Accessories or Non" name="nickname">
    </div>
</div> 
  
</form>
<button onclick="hack(1)" id="1">Next</button>
<button onclick="hack(2)" id="2">Go Back</button>

