<a href="/dashboard"><img style="height: 25%; width:25%;" src="./images/logo.png"  class="rounded mx-auto d-block" alt="..."></a>
<fieldset>
<form method="POST" action="/dailystyle">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="color: white; text-align:center">Create Your Style!</h2>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-5">
                <label for="formal"><img src="/images/formal.jpg"
                        class="img-responsive img-thumbnail rounded float-right" /></label>
                <h2 style="color: white; text-align:center"><input type="radio" id="formal" name="style"
                        value="formal" checked>Formal</h2>
            </div>

            <div class="container col-md-2 col-centered text-center">
                <h2 style="color: white;"><br><Br><Br><br><br><br><br>OR<br><Br><Br><br><br><br>
            </div>

            <div class="col-md-5">
                <label for="casual"><img src="/images/casual.jpg" class="img-responsive img-thumbnail" /></label>
                <h2 style="color: white; text-align:center"><input type="radio" id="casual" name="style"
                        value="casual">Casual</h2>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-md-5">
                <label for="colorful"><img src="/images/colorful.jpg"
                        class="img-responsive img-thumbnail rounded float-right" /></label>
                <h2 style="color: white; text-align:center"><input type="radio" id="colorful" name="colorful"
                        value="true" checked>Colorful</h2>
            </div>

            <div class="container col-md-2 text-center">
                <h2 style="color: white;"><br><br><br>OR</h2>
            </div>

            <div class="col-md-5">
                <label for="nocolorful"><img src="/images/non-colorful.jpg"
                        class="img-responsive img-thumbnail" /></label>
                <h2 style="color: white; text-align:center"><input type="radio" id="nocolorful" name="colorful"
                        value="false">Not Colorful</h2>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-md-5">
                <label for="acce"><img src="/images/Acce.jpg"
                        class="img-responsive img-thumbnail rounded float-center" /></label>
                <h2 style="color: white; text-align:center"><input id="acce" type="radio" name="acce"
                        value="true" checked>Accessory</h2>
            </div>
            <div class="container col-md-2 text-center">
                <h2 style="color: white;"><br><br><br>OR</h2>
            </div>

            <div class="col-md-5">
                <label for="noacce"><img src="/images/no-acce.jpg" class="img-responsive img-thumbnail" /></label>
                <h2 style="color: white; text-align:center"><input id="noacce" type="radio" name="acce" value="false">No
                    Accessory</h2>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-3">
                <label for="spring"><img src="/images/spring.jpg"
                        class="img-responsive img-thumbnail rounded float-center" /></label>
                <h2 style="color: white; text-align:center"><input id="spring" type="radio" name="weather"
                        value="spring" checked>Spring</h2>
            </div>
            <div class="col-md-3">
                <label for="summer"><img src="/images/summer.jpg"
                        class="img-responsive img-thumbnail rounded float-center" /></label>
                <h2 style="color: white; text-align:center"><input id="summer" type="radio" name="weather"
                        value="summer">Summer</h2>
            </div>
            <div class="col-md-3">
                <label for="fall"><img src="/images/fall.jpg" 
                        class="img-responsive img-thumbnail rounded float-center" /></label>
                <h2 style="color: white; text-align:center"><input id="fall" type="radio" name="weather"
                        value="fall">Fall</h2>
            </div>
            <div class="col-md-3">
                <label for="winter"><img src="/images/winter.jpg"
                        class="img-responsive img-thumbnail rounded float-center" /></label>
                <h2 style="color: white; text-align:center"><input id="winter" type="radio" name="weather"
                        value="winter">Winter</h2>
            </div>
        </div>
        <div class="row mt-5 mb-5 ">
            <div class="col-md-12 ">
                <input class="btn btn-primary" style="float: right" type="submit" value="Create Style!">
            </div>
        </div>
    </div>
</form>
</fieldset>