<div class="row justify-content-center align-self-center mt-5 bg-light" style="height:100vh;">
  <div class="d-flex justify-content-between">
    <div class="col-3"><a href="/dashboard"><img style="img-fluid" id="img-dashboard" src="/images/dashboard.jpg"></a></div>
    <div class="col-3"><a href="/createstyle"><img style="img-fluid" id="img-dashboard" src="/images/dashboard2.jpg"></a></div>
  </div>
</div>   