<a href="/"><img style="height: 25%; width:25%;" src="./images/logo.png"  class="rounded mx-auto d-block" alt="..."></a>
<br>
{{!-- <div class="row justify-content-center align-self-center mt-5 bg-light" style="height:100vh;">
  <div class="d-flex justify-content-between">
    <div class="col-3"><a href="/dashboard"><img style="img-fluid" id="img-dashboard" src="/images/dashboard.jpg"></a></div>
    <div class="col-3"><a href="/createstyle"><img style="img-fluid" id="img-dashboard" src="/images/dashboard2.jpg"></a></div>
  </div>
</div>    --}}
<h1>Hello {{user.Nickname}}</h1>
<div class="container" >
  <div class="row mt-5 mb-5">
    <div class="col-md-5">
      <a href="/dashboard"><img src="/images/dashboard.jpg"
          class="img-responsive img-thumbnail rounded float-right" /></a>
    </div>
    <div class="container col-md-2 text-center">
      <h2 style="color: white;"><br><br>OR</h2>
    </div>
    <div class="col-md-5">
      <a href="/createstyle"><img src="/images/dashboard2.jpg" class="img-responsive img-thumbnail" /></a>
    </div>
  </div>
</div>