<div class="bg-dark">
    
<a href="/"><img style="height: 25%; width:25%;" src="./images/Logo.jpg"  class="centered" alt="..."></a>

    <div class="d-flex justify-content-center align-content-center flex-wrap" style="height: 100vh;">
        <a href="/signup"><button type="button" class="btn btn-success">Create An Account</button></a>
        &nbsp;
        <a href="/login"><button type="button" class="btn btn-success">Login</button></a>
    </div>
</div>