<div class="bg-light">
    <div class="d-flex justify-content-center align-content-center flex-wrap" style="height: 100vh;">
        <a href="/signup"><button type="button" class="btn btn-success">Create An Account</button></a>
        &nbsp;
        <a href="/login"><button type="button" class="btn btn-success">Sign Up</button></a>
    </div>
</div>