<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-success">Success</button>
  </div>
  <div class="col-sm-6">
    <button type="button" class="btn btn-success">Success</button>
  </div>
</div>