<a href="/"><img style="height: 25%; width:25%;" src="./images/logo.png"  class="rounded mx-auto d-block" alt="..."></a>
<div class="row">
<div class="col-md-12">
 <h2>Images</h2>
 <hr />
 </div>
 {{#if images}}
 {{#each images}} 
 <div class="col-md-4">
 <img src="{{this.imageLink}}" class="img-responsive img-thumbnail" />
 </div>
 {{/each}}
 {{else}}
 <div class="col-md-12 text-center">
 <strong>No Images Available</strong>
 </div>
 {{/if}}
</div>