<div class="row justify-content-center align-self-center mt-5">
<div class="bg-light container col-9">
  <p class="h4 text-center p-3">Sign in</p>
  <div class="container p-3">
    <form method="POST" action="/signup">
      <div class="form-group row">
        <label for="nick" class="col-sm-2 col-form-label">Nickname</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="nick" placeholder="Nickname" name="nickname">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email" placeholder="Email" name="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="psw" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="psw" placeholder="Password" name="psw">
        </div>
      </div>
      <div class="form-group row">
        <label for="psw2" class="col-sm-2 col-form-label">Re-Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="psw2" placeholder="Password" name="psw2">
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Body type</legend>
          <div class="col-sm-9">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="bodyT" id="inlineRadio1" value="Skinny">
            <label class="form-check-label" for="inlineRadio1">Skinny</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="bodyT" id="inlineRadio2" value="Average">
            <label class="form-check-label" for="inlineRadio2">Average</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="bodyT" id="inlineRadio3" value="Big">
            <label class="form-check-label" for="inlineRadio3">Big</label>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Style Preference</legend>
          <div class="col-sm-9">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="style" id="inlineRadio12" value="Men">
            <label class="form-check-label" for="inlineRadio12">Men</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="style" id="inlineRadio883" value="Women">
            <label class="form-check-label" for="inlineRadio883">Women</label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="row justify-content-center align-self-center">
        <div class="col-sm-9 flex-d align-item-center">
          <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>
 </div>