<br><br><br>
<div class="m-5 d-flex justify-content-center align-content-center flex-wrap">
    <h4 class="text-center" style="color:white">Thank You For The Submittion! We Will Add To Your Preferences</h4>
</div>

<a class="mt-5" href="/dashboard">
    <img style="height: 25%; width:25%;" src="./images/Logo.png"  class="rounded mx-auto d-block" alt="logos">
</a>
<br>

<p class="text-center" style="color:white">Click on our Logo to head back to the Dashboard</p>