/* @media only screen and (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    /* max-width: 960px; 
} */
/* #img-dashboard {
    display: block;
    max-width: 100%;
    height: auto;
  } */
  /* .pulse {
    margin:100px;
    display: block;
    
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
  } */